<nav class="navbar sticky-top navbar-expand-lg navbar-light py-3"style="background-color: #20c997;">
<div class="container-fluid">
<a class="navbar-brand" href="#">Ziegler Aerospace</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link"  href="/home">Home</a>
  <a class="nav-link" href="/seller">Seller</a>
          </div>
  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-link"  href="/register">Register</a>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/logout">Logout</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>

  </div>

</nav>
